  <div class="container-fluid">
  <footer>
    <nav class="foot">
      <ul>
        <li><a href="https://www.freeprivacypolicy.com/privacy/view/fcb544cae4aa13d3fbdbf052091bc0e8">Private Policy</a></li>
        <li><a href="/terms">Terms And Conditions</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>&copy;2018 Above All Pest Control Inc. All rights reserved.</li>
      </ul>
    </nav>
  </footer>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
