<% pageTitle= "Contact Us" %>
<% include ../partials/header %>

<div class="wrapper contact-page">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img id="above-logo" src="/images/above-cloud.png" alt="above-logo">
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container contact-form">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="well well-sm">
          <form class="form-horizontal" action="/contact" method="post">
          <fieldset>
            <legend class="text-center contact-us">Contact us</legend>
            <br>

            <!-- Name input-->
            <div class="form-group">
              <label class="control-label" for="name">Name</label>
              <div>
                <input id="name" name="name" type="text" placeholder="Your Name" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="phone">Phone Number</label>
              <div>
                <input id="phone" name="phone" type="tel" placeholder="Your Phone Number" class="form-control" required>
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="control-label" for="email">Your E-mail</label>
              <div>
                <input id="email" name="email" type="text" placeholder="Your E-mail" class="form-control" required>
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="control-label" for="message">Your message</label>
              <div>
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" required></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="container contacts">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="phone-number">
          <h6><i class="fas fa-phone"></i> Call us at:</h6>
          <h6>(215) 269-0805</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="email">
          <h6><i class="fas fa-envelope"></i> Email:</h6>
          <h6>aboveallpc@hotmail.com</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="yelp">
          <h6><i class="fab fa-yelp"></i> Yelp:</h6>
          <h6><a href="https://www.yelp.com/biz/above-all-pest-control-langhorne">www.yelp.com/biz/above-all-pest-control-langhorne</a></h6>
        </div>
      </div>
    </div>
  </div>

</div>

<% include ../partials/footer %>
