<% pageTitle= "Coupons" %>
<% include ../partials/header %>

<div class="wrapper text-center coupon-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img id="above-logo" src="/images/above-cloud.png" alt="above-logo">
      </div>
    </div>
  </div>

    <h2 class="coupon-head">Coupons</h2>

  <div class="container coupon-div rollIn animated">
    <img id="initial" class="coupon-mobile" src="/images/couponinitial.png" alt="">
    <img id="termite" class="coupon-mobile" src="/images/coupontermite.png" alt="">
  </div>


  <div class="let-us-know">
    <p>When you call us, Tell us you saw the online coupon. We like to know where our customers come from.</p>
  </div>
</div> <!--Wrapper-->

<% include ../partials/footer %>
