<% pageTitle= "Above All Pest Control" %>
<% include ../partials/header %>

<div class="container">
    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img id="above-logo" src="/images/above-cloud.png" alt="above-logo">
        <div id="nobugsection">
          <span><img id="nobugspic" src="/images/nobugspic.png" alt="nobugspic"></span><h3 id="no-bugs">NO BUGS FOR YOU!</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="container" id="paragraph">
    <div class="row">
      <div class="col-sm-12">
        <p> When you have a pest problem at your home, you want action. You want the problem to be handled as quickly as possible, right?</p>

          <p>Bees, ants, termites, stink bugs and so much more.</p>

            <p>All are a health concern and many will destroy your property as well as your families health, if not handled correctly.</p>

            <p>You need a professional pest control company.</p>

            <p>You need,</p>

            <p class="font-weight-bold" id="above-all-index"><strong>Above All Pest Control</strong></p>

            <p>Our objective is the same as yours. <span id="eliminate">Eliminate the pest problem, now!</span></p>

            <div id="phone">
              <h2><span><i class="fas fa-phone"></i></span> Call (215) 269-0805</h2>
            </div>
      </div>
    </div>
  </div>


</div> <!--Wrapper-->




<% include ../partials/footer %>
