<% include ../partials/header %>

<div class="term-damage-container text-center">
  <h2 class="text-center" id="termdam-head">Termite Damage</h2>

  <p class="lead">(These are examples of the damage these pests can do)</p>

  <div class="flex-container">
    <img src="../images/termdam1.jpg" alt="" />
    <img src="../images/termdam2.jpg" alt="" />
    <img src="../images/termdam3.jpg" alt="" />
    <img src="../images/termdam4.jpg" alt="" />
  </div>
</div>

<% include ../partials/footer %>
